body{
    background: rgb(145,163,250);
    background: linear-gradient(90deg, rgba(145,163,250,1) 0%, rgba(252,106,70,1) 100%);
    font-family: 'Mirza', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    }

    form{
        margin: 20px 400px 30px 400px;
        display: grid;
        padding: 50px;
        /*grid-template-rows: repeat(2, 4fr);*/
        font-family: 'Mirza', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Special Elite', cursive;
        font-size: 30px;
        color: rgb(65, 20, 107);
        box-shadow:-15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0,0,0,0.1),
    inset -50px -50px 50px rgba(255, 255, 255, 0.2),
    inset 50px 50px 50px rgba(0,0,0,0.1) ;
    border-radius: 50px;
    }
    

 #title{
    text-align: center;
    display: block;
    font-family: 'Mirza', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Special Elite', cursive;
    background-color: transparent;
    font-size: 50px;
    color: rgb(87, 27, 143);

}
#description{
    text-align: center;
    display: block;
    margin-top: 100px;
    margin-bottom: 0;
}
#name-label  {
    margin-top: 20px;
    margin-bottom: 20px;
   
}
#name{
    font-size: 16px;
    width: 600px;
    height: 30px;
    background-color:transparent;
    box-shadow:-15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0,0,0,0.1),
    inset -50px -50px 50px rgba(255, 255, 255, 0.2),
    inset 50px 50px 50px rgba(0,0,0,0.1) ;
    border-radius: 50px;
}

#email-label{
    margin-top: 20px;
    margin-bottom: 20px;
}
#email{
    font-size: 16px;
    width: 600px;
    height: 30px;
    background-color:transparent;
    box-shadow:-15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0,0,0,0.1),
    inset -50px -50px 50px rgba(255, 255, 255, 0.2),
    inset 50px 50px 50px rgba(0,0,0,0.1) ;
    border-radius: 50px;
}

#number-label{
    margin-top: 20px;
    margin-bottom: 20px;
} 
#number{
    font-size: 16px;
    width: 600px;
    height: 30px;
    background-color:transparent;
    box-shadow:-15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0,0,0,0.1),
    inset -50px -50px 50px rgba(255, 255, 255, 0.2),
    inset 50px 50px 50px rgba(0,0,0,0.1) ;
    border-radius: 50px;
}


#provincia{
    font-size: 16px;
    width: 600px;
    height: 30px;
    background-color:transparent;
    box-shadow:-15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0,0,0,0.1),
    inset -50px -50px 50px rgba(255, 255, 255, 0.2),
    inset 50px 50px 50px rgba(0,0,0,0.1) ;
    border-radius: 50px;
}


#lugares{
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(3, 1fr);
    font-family: 'Mirza', cursive;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Special Elite', cursive;
    font-size: 18px;
}
textarea{
    background-color:rgba(245, 245, 247, 0.236) ;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 40px;
}

#submit{
    font-size: 18px;

    border-radius: 30%;
    margin: 30px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: transparent;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);

}


@media (300px <= width <= 768px) { 
    #title{
        font-size: 40px;
        text-align: center;
        margin: 25px;
     
 }
 #description{
         text-align: center;
         margin: 20px;
     }
     form{
        margin: 2px 10px 2px 10px;
     }
 #survey-form{
     width: auto;
     margin: 0 6px 0 6px;
     font-size: 18px;
     background: linear-gradient(90deg, rgba(145,163,250,1) 0%, rgb(252, 237, 70) 100%);
 }   
 #name-label {
    width: auto;
     height: auto;
 }
 #name{
    width: auto;
    height: auto;
 }
 #email-label{
    width: auto;
    height: auto;
 }
 #email{
    width: auto;
    height: auto;
 }
 #number-label{
    width: auto;
    height: auto;
 }
 #number{
    width: auto;
    height: auto;
 }
 #provincia{
    text-align:justify;
    font-size: 12px;
    text-align:center;
    width: auto;
    height: auto;
 }
 
 
 #lugares{
    display:grid;
    grid-template-columns: 1fr;
    font-size: 16px;
     width: 500px;
     height: auto;
 }
 textarea{
    font-size: 16px;
     width: 400px;
     height: auto;
 }
 #submit{
     width: 100px;
     height: auto;
 }
 
 }
 @media (768px <= width <= 1200px) { 
    #title{
        font-size: 40px;
        text-align: center;
        margin: 25px;
     
 }
 #description{
         text-align: center;
         margin: 20px;
     }
     form{
        margin: 2px 100px 2px 100px;
     }
 #survey-form{
     width: auto;
     margin: 2px 100px 2px 100px;
     font-size: 18px;
     background: linear-gradient(90deg, rgb(83, 30, 242) 0%, rgb(252, 237, 70) 100%);
 }   
 #name-label {
     width: auto;
     height: auto;
 }
 #name{
     width: auto;
     height: auto;
 }
 #email-label{
    width: auto;
    height: auto;
 }
 #email{
    width: auto;
    height: auto;
 }
 #number-label{
    width: auto;
    height: auto;
 }
 #number{
    width: auto;
    height: auto;
 }
 #provincia{
    text-align:justify;
    font-size: 16px;
    text-align:center;
    width: auto;
    height: auto;
 }
 
 
 #lugares{
    display:grid;
    grid-template-columns: 1fr;
    font-size: 20px;
     width: 500px;
     height: auto;
 }
 textarea{
    font-size: 16px;
    width: auto;
    height: auto;
 }
 #submit{
     width: 100px;
     height: auto;
 }
 
 }
        